informatica_xsd_xml/com.informatica.metadata.common.transformation.generic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.transformation.generic/2" xmlns:generic="http://com.informatica.metadata.common.transformation.generic/2" xmlns:imx="http://com.informatica.imx" xmlns:transformation="http://com.informatica.metadata.common.transformation/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.transformation.generic/2">
<xsd:import namespace="http://com.informatica.metadata.common.transformation/3" schemaLocation="com.informatica.metadata.common.transformation.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="GenericDataInterface">
<xsd:complexContent>
<xsd:extension base="transformation:TransformationDataInterface">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="customFields">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="GenericTxField" type="generic:GenericTxField"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="GenericDataInterface" type="generic:GenericDataInterface"/>
<xsd:complexType name="GenericTx">
<xsd:complexContent>
<xsd:extension base="transformation:AbstractTransformation">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="customInterfaces">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="GenericDataInterface" type="generic:GenericDataInterface"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute name="inputBlockingMandatory" type="xsd:boolean"/>
<xsd:attribute name="scope" type="transformation:TransformationScope"/>
<xsd:attribute name="transactionGenerated" type="xsd:boolean"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="GenericTx" type="generic:GenericTx"/>
<xsd:complexType name="GenericTxField">
<xsd:complexContent>
<xsd:extension base="transformation:TransformationField"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="GenericTxField" type="generic:GenericTxField"/>
</xsd:schema>
