informatica_xsd_xml/com.informatica.metadata.common.sourcespec.dataobject.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.sourcespec.dataobject/2" xmlns:dataobject="http://com.informatica.metadata.common.sourcespec.dataobject/2" xmlns:imx="http://com.informatica.imx" xmlns:sourcespec="http://com.informatica.metadata.common.sourcespec/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.sourcespec.dataobject/2">
<xsd:import namespace="http://com.informatica.metadata.common.sourcespec/2" schemaLocation="com.informatica.metadata.common.sourcespec.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="CDORuleFieldBinding">
<xsd:complexContent>
<xsd:extension base="sourcespec:RuleFieldBinding">
<xsd:attribute name="sourceOutputFeature" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="CDORuleFieldBinding" type="dataobject:CDORuleFieldBinding"/>
<xsd:complexType name="CDOSourceSpec">
<xsd:complexContent>
<xsd:extension base="sourcespec:SourceSpec">
<xsd:attribute name="sourceCdo" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="CDOSourceSpec" type="dataobject:CDOSourceSpec"/>
</xsd:schema>
