informatica_xsd_xml/com.informatica.metadata.common.url.connectinfo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.url.connectinfo/2" xmlns:connectinfo="http://com.informatica.metadata.common.connectinfo/2" xmlns:connectinfo1="http://com.informatica.metadata.common.url.connectinfo/2" xmlns:imx="http://com.informatica.imx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.url.connectinfo/2">
<xsd:import namespace="http://com.informatica.metadata.common.connectinfo/2" schemaLocation="com.informatica.metadata.common.connectinfo.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="URLLocation">
<xsd:complexContent>
<xsd:extension base="connectinfo:ConnectInfo">
<xsd:attribute name="locatorURL">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="URLLocation" type="connectinfo1:URLLocation"/>
</xsd:schema>
