informatica_xsd_xml/com.informatica.ds.app.metadata.runtime.annotations.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.ds.app.metadata.runtime.annotations/0" xmlns:annotations="http://com.informatica.ds.app.metadata.runtime.annotations/0" xmlns:imx="http://com.informatica.imx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.ds.app.metadata.runtime.annotations/0">
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation> Copyright (c) 2012 Informatica Corporation. All rights reserved.\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="OptionKey">
<xsd:annotation>
<xsd:documentation> This configures how a particular field will be displayed in the options (String value)
 &lt;b&gt;MODIFICATIONS&lt;/b&gt;&lt;br&gt;
 0.1.0 sho 6/15/2011 Model added&lt;br&gt;
</xsd:documentation>
</xsd:annotation>
<xsd:attribute ref="imx:id"/>
<xsd:attribute name="optionKey">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="OptionKey" type="annotations:OptionKey"/>
</xsd:schema>
