informatica_xsd_xml/com.informatica.metadata.sdk.connectinfo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.sdk.connectinfo/2" xmlns:connectinfo="http://com.informatica.metadata.sdk.connectinfo/2" xmlns:connectinfo1="http://com.informatica.metadata.common.connectinfo/2" xmlns:core="http://com.informatica.metadata.common.core/2" xmlns:imx="http://com.informatica.imx" xmlns:sdk="http://com.informatica.metadata.sdk/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.sdk.connectinfo/2">
<xsd:import namespace="http://com.informatica.metadata.common.core/2" schemaLocation="com.informatica.metadata.common.core.xsd"/>
<xsd:import namespace="http://com.informatica.metadata.common.connectinfo/2" schemaLocation="com.informatica.metadata.common.connectinfo.xsd"/>
<xsd:import namespace="http://com.informatica.metadata.sdk/2" schemaLocation="com.informatica.metadata.sdk.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="SDKConnectInfoAttr">
<xsd:complexContent>
<xsd:extension base="core:Element">
<xsd:attribute name="attrType" type="imx:idref"/>
<xsd:attribute name="connInfo" type="imx:idref"/>
<xsd:attribute name="literalValue">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SDKConnectInfoAttr" type="connectinfo:SDKConnectInfoAttr"/>
<xsd:complexType name="SDKConnectionAttrDef">
<xsd:complexContent>
<xsd:extension base="core:Element">
<xsd:attribute name="connType" type="imx:idref"/>
<xsd:attribute name="name">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="type" type="sdk:SDKAttrDataType"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SDKConnectionAttrDef" type="connectinfo:SDKConnectionAttrDef"/>
<xsd:complexType name="SDKConnectionType">
<xsd:complexContent>
<xsd:extension base="core:NamedElement">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="attrDefs">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="SDKConnectionAttrDef" type="connectinfo:SDKConnectionAttrDef"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SDKConnectionType" type="connectinfo:SDKConnectionType"/>
<xsd:complexType name="SDKConnectInfo">
<xsd:complexContent>
<xsd:extension base="connectinfo1:ConnectInfo">
<xsd:annotation>
<xsd:documentation> Holds connection attributes for 8.5 SDK connection types.
 
 All SDK connection objects have a name and a reference to their plug-in seeded connection type.
 
 Connection attributes are stored under a GenericAnnotation with a source of "com.informatica.platform.sdk.connectionattrs".  In this annotation, each contained NamedValuePair's key is a property name, and each value is the attribute's value, encoded as a string.
 
 
</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="connAttrs">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="SDKConnectInfoAttr" type="connectinfo:SDKConnectInfoAttr"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute name="sdkConnectionType" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SDKConnectInfo" type="connectinfo:SDKConnectInfo"/>
</xsd:schema>
