informatica_xsd_xml/com.informatica.isp.metadata.monitoringservice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.isp.metadata.monitoringservice/1" xmlns:common="http://com.informatica.isp.metadata.common/2" xmlns:imx="http://com.informatica.imx" xmlns:monitoringservice="http://com.informatica.isp.metadata.monitoringservice/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.isp.metadata.monitoringservice/1">
<xsd:import namespace="http://com.informatica.isp.metadata.common/2" schemaLocation="com.informatica.isp.metadata.common.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:complexType name="MonitoringServiceConfiguration">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="monitoringOptionGroups">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="OptionGroup" type="common:OptionGroup"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element name="preferenceGroups">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="PreferenceGroup" type="monitoringservice:PreferenceGroup"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element name="reportSelectionGroups">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="ReportSelectionGroup" type="monitoringservice:ReportSelectionGroup"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute name="name">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="statsMRSName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="statsMRSPassword">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="statsMRSSecurityDomain">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="statsMRSUserName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="MonitoringServiceConfiguration" type="monitoringservice:MonitoringServiceConfiguration"/>
<xsd:complexType name="Preference">
<xsd:complexContent>
<xsd:extension base="common:ISPNamedObject">
<xsd:attribute name="checked" type="xsd:boolean"/>
<xsd:attribute name="frequency" type="xsd:long"/>
<xsd:attribute name="range" type="xsd:long"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="Preference" type="monitoringservice:Preference"/>
<xsd:complexType name="PreferenceGroup">
<xsd:complexContent>
<xsd:extension base="common:ISPNamedObject">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="preferenceList">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="Preference" type="monitoringservice:Preference"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="PreferenceGroup" type="monitoringservice:PreferenceGroup"/>
<xsd:complexType name="ReportSelectionGroup">
<xsd:complexContent>
<xsd:extension base="common:ISPNamedObject">
<xsd:attribute name="selectionList">
<xsd:simpleType>
<xsd:list itemType="xsd:string"/>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ReportSelectionGroup" type="monitoringservice:ReportSelectionGroup"/>
</xsd:schema>
