informatica_xsd_xml/com.informatica.isp.interfaces.domainservice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.isp.interfaces.domainservice/2" xmlns:common="http://com.informatica.isp.metadata.common/2" xmlns:domainservice="http://com.informatica.isp.interfaces.domainservice/2" xmlns:domainservice1="http://com.informatica.isp.metadata.domainservice/2" xmlns:imx="http://com.informatica.imx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.isp.interfaces.domainservice/2">
<xsd:import namespace="http://com.informatica.isp.metadata.common/2" schemaLocation="com.informatica.isp.metadata.common.xsd"/>
<xsd:import namespace="http://com.informatica.isp.metadata.domainservice/2" schemaLocation="com.informatica.isp.metadata.domainservice.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:simpleType name="DisableServiceMode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="COMPLETE"/>
<xsd:enumeration value="STOP"/>
<xsd:enumeration value="ABORT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="DisableServiceModeWrapper">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="disableServiceMode" type="domainservice:DisableServiceMode"/>
</xsd:complexType>
<xsd:element name="DisableServiceModeWrapper" type="domainservice:DisableServiceModeWrapper"/>
<xsd:complexType name="DomainNodeData">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="nodeRealmName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="nodeWebAppRealmName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="DomainNodeData" type="domainservice:DomainNodeData"/>
<xsd:simpleType name="DomainServiceEventTypes">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="UNKNOWN"/>
<xsd:enumeration value="USER_REQUEST"/>
<xsd:enumeration value="SERVICE_PROCESS_CRASHED"/>
<xsd:enumeration value="NODE_UNAVAILABLE"/>
<xsd:enumeration value="NODE_SHUTDOWN"/>
<xsd:enumeration value="NODE_CRASHED"/>
<xsd:enumeration value="FAILED_MAX_RESTARTS"/>
<xsd:enumeration value="NODE_AVAILABLE"/>
<xsd:enumeration value="SERVICE_RESTART"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ElectionResponse">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="master" type="xsd:boolean"/>
<xsd:attribute name="masterNode" type="imx:idref"/>
</xsd:complexType>
<xsd:element name="ElectionResponse" type="domainservice:ElectionResponse"/>
<xsd:complexType name="Event">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="eventAction">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="Event" type="domainservice:Event"/>
<xsd:complexType name="NameServiceLookupResponse">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="address" type="imx:idref"/>
<xsd:attribute name="kerberosEnabled" type="xsd:boolean"/>
<xsd:attribute name="portals" type="imx:idref"/>
<xsd:attribute name="servicePrincipalName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceRealmName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceRunningNodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceSSLEnabled" type="xsd:boolean"/>
<xsd:attribute name="serviceURL">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="userRealmName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="webAppServicePrincipalName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="NameServiceLookupResponse" type="domainservice:NameServiceLookupResponse"/>
<xsd:complexType name="NewClass">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
</xsd:complexType>
<xsd:element name="NewClass" type="domainservice:NewClass"/>
<xsd:complexType abstract="true" name="NodeOperationRequest">
<xsd:annotation>
<xsd:documentation> This mode has been added for take input for operation on node like startup and 
 shutdown.
 @author brikumar

</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="comment">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="isPlanned" type="xsd:boolean"/>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="RegisterNodeResponse">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="HstsEnabled" type="xsd:boolean"/>
<xsd:attribute name="masterNodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="masterNodeServiceRealm">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="masterNodeUserRealm">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="nodeDefinition" type="imx:idref"/>
<xsd:attribute name="portals" type="imx:idref"/>
<xsd:attribute name="spnShareLevel">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="RegisterNodeResponse" type="domainservice:RegisterNodeResponse"/>
<xsd:complexType name="ResourceInfo">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="nodes">
<xsd:simpleType>
<xsd:list itemType="xsd:string"/>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="resource" type="imx:idref"/>
</xsd:complexType>
<xsd:element name="ResourceInfo" type="domainservice:ResourceInfo"/>
<xsd:complexType abstract="true" name="ServiceOperationRequest">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="comment">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="isPlanned" type="xsd:boolean"/>
<xsd:attribute name="serviceNames">
<xsd:simpleType>
<xsd:list itemType="xsd:string"/>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="ServiceProcessInfo">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="processStatus" type="imx:idrefs"/>
</xsd:complexType>
<xsd:element name="ServiceProcessInfo" type="domainservice:ServiceProcessInfo"/>
<xsd:complexType name="WebServiceInfo">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="processes" type="imx:idrefs"/>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="WebServiceInfo" type="domainservice:WebServiceInfo"/>
<xsd:complexType name="WebServiceProcessInfo">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="URL">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="hostname">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="portno" type="xsd:int"/>
</xsd:complexType>
<xsd:element name="WebServiceProcessInfo" type="domainservice:WebServiceProcessInfo"/>
<xsd:complexType name="ConfigServiceChangeEvent">
<xsd:complexContent>
<xsd:extension base="domainservice:Event">
<xsd:attribute name="changeEvent" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ConfigServiceChangeEvent" type="domainservice:ConfigServiceChangeEvent"/>
<xsd:complexType name="DisableNodeOperationRequest">
<xsd:complexContent>
<xsd:extension base="domainservice:NodeOperationRequest">
<xsd:annotation>
<xsd:documentation> 
 @author brikumar

</xsd:documentation>
</xsd:annotation>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="DisableNodeOperationRequest" type="domainservice:DisableNodeOperationRequest"/>
<xsd:complexType name="DisableServiceOperationRequest">
<xsd:complexContent>
<xsd:extension base="domainservice:ServiceOperationRequest">
<xsd:attribute name="disableServiceMode" type="domainservice:DisableServiceMode"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="DisableServiceOperationRequest" type="domainservice:DisableServiceOperationRequest"/>
<xsd:complexType name="DomainProperties">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="dbInfo" type="imx:idref"/>
<xsd:attribute name="domainDescription">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="domainName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="gateways" type="imx:idrefs"/>
<xsd:attribute name="optionGroups" type="imx:idrefs"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="DomainProperties" type="domainservice:DomainProperties"/>
<xsd:complexType name="EnableServiceOperationRequest">
<xsd:complexContent>
<xsd:extension base="domainservice:ServiceOperationRequest"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="EnableServiceOperationRequest" type="domainservice:EnableServiceOperationRequest"/>
<xsd:complexType name="ISPCollection">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="objects" type="imx:idrefs"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ISPCollection" type="domainservice:ISPCollection"/>
<xsd:complexType name="Portals">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:annotation>
<xsd:documentation> 2.12.0 vmehta 3/8/2016 Added samlEnabled, idpUrl
</xsd:documentation>
</xsd:annotation>
<xsd:attribute name="domainName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="idpUrl">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="kerberosEnabled" type="xsd:boolean"/>
<xsd:attribute name="nodeRef" type="imx:idrefs"/>
<xsd:attribute name="samlEnabled" type="xsd:boolean"/>
<xsd:attribute name="serviceProviderId">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="tlsEnabled" type="xsd:boolean"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="Portals" type="domainservice:Portals"/>
<xsd:complexType name="ProcessRuntime">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="pid" type="xsd:int"/>
<xsd:attribute name="port" type="xsd:int"/>
<xsd:attribute name="primary" type="xsd:boolean"/>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceProcessRealmName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceURL">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="state">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ProcessRuntime" type="domainservice:ProcessRuntime"/>
<xsd:complexType name="RuntimeProcessRef">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:annotation>
<xsd:documentation> Model Change Log
 
 2.6.0    sumittal		06/09/2013	  Added the nodeName property
</xsd:documentation>
</xsd:annotation>
<xsd:attribute name="address" type="imx:idref"/>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceType">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="RuntimeProcessRef" type="domainservice:RuntimeProcessRef"/>
<xsd:complexType name="SPCEvent">
<xsd:complexContent>
<xsd:extension base="domainservice:Event">
<xsd:attribute name="byRequest" type="xsd:boolean"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SPCEvent" type="domainservice:SPCEvent"/>
<xsd:complexType name="SPCShutdownEvent">
<xsd:complexContent>
<xsd:extension base="domainservice:Event">
<xsd:attribute name="serviceWide" type="xsd:boolean"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SPCShutdownEvent" type="domainservice:SPCShutdownEvent"/>
<xsd:complexType name="ServiceDetails">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="enabled" type="xsd:boolean"/>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceProcessDetails" type="imx:idrefs"/>
<xsd:attribute name="stateString">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="type">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ServiceDetails" type="domainservice:ServiceDetails"/>
<xsd:complexType name="ServiceDomainInfo">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="domainName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ServiceDomainInfo" type="domainservice:ServiceDomainInfo"/>
<xsd:complexType name="ServiceProcessDetails">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="enabled" type="xsd:boolean"/>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="state" type="domainservice1:ProcessState"/>
<xsd:attribute name="stateString">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ServiceProcessDetails" type="domainservice:ServiceProcessDetails"/>
<xsd:complexType name="StartServiceProcessResponse">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="pid" type="xsd:int"/>
<xsd:attribute name="port" type="xsd:int"/>
<xsd:attribute name="serviceProcessRealmName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceURL">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="StartServiceProcessResponse" type="domainservice:StartServiceProcessResponse"/>
<xsd:complexType name="UpdateSSLResponse">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="activeNodes">
<xsd:simpleType>
<xsd:list itemType="xsd:string"/>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="inActiveNodes">
<xsd:simpleType>
<xsd:list itemType="xsd:string"/>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="UpdateSSLResponse" type="domainservice:UpdateSSLResponse"/>
<xsd:complexType name="UpdateServiceRuntimeStatusResponse">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="events" type="imx:idrefs"/>
<xsd:attribute name="isReregisterRequired" type="xsd:boolean"/>
<xsd:attribute name="portals" type="imx:idref"/>
<xsd:attribute name="serviceRunningStatusMask" type="xsd:int"/>
<xsd:attribute name="terminatedServices">
<xsd:simpleType>
<xsd:list itemType="xsd:string"/>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="UpdateServiceRuntimeStatusResponse" type="domainservice:UpdateServiceRuntimeStatusResponse"/>
<xsd:complexType name="NewMasterElectedEvent">
<xsd:complexContent>
<xsd:extension base="domainservice:SPCEvent">
<xsd:attribute name="masterAddress" type="imx:idref"/>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="NewMasterElectedEvent" type="domainservice:NewMasterElectedEvent"/>
<xsd:complexType name="SPCChangeEvent">
<xsd:complexContent>
<xsd:extension base="domainservice:SPCEvent">
<xsd:attribute name="changeEvent" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SPCChangeEvent" type="domainservice:SPCChangeEvent"/>
<xsd:complexType name="ServiceProcessStatusChangeInfo">
<xsd:complexContent>
<xsd:extension base="domainservice1:ProcessRuntime">
<xsd:annotation>
<xsd:documentation> Model Change Log
 
 2.9.0 brikumar 06/3/2015 Added new field serviceType.
 This model is used in communication between DomainService and StatCollector for
 notifying service process start and stop. 
 @author brikumar

</xsd:documentation>
</xsd:annotation>
<xsd:attribute name="cause" type="domainservice:DomainServiceEventTypes"/>
<xsd:attribute name="finalState" type="xsd:int"/>
<xsd:attribute name="initialState" type="xsd:int"/>
<xsd:attribute name="serviceType">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ServiceProcessStatusChangeInfo" type="domainservice:ServiceProcessStatusChangeInfo"/>
</xsd:schema>
