informatica_xsd_xml/com.informatica.isp.runtime.common.broadcast.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.isp.runtime.common.broadcast/2" xmlns:broadcast="http://com.informatica.isp.runtime.common.broadcast/2" xmlns:imx="http://com.informatica.imx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.isp.runtime.common.broadcast/2">
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:complexType name="ChangeEvent">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="action">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="changeTime" type="xsd:long"/>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="obj" type="imx:idref"/>
<xsd:attribute name="objName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="objType">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceURI">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="ChangeEvent" type="broadcast:ChangeEvent"/>
<xsd:complexType name="ChangeEventFilter">
<xsd:annotation>
<xsd:documentation> This model class will be passed by event subscriber for subscribing to different types of events.
 In future we can add list of filters to subscribe to specific events.
 @author nupaman

</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="eventGroups">
<xsd:simpleType>
<xsd:list itemType="broadcast:EventGroup"/>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="ChangeEventFilter" type="broadcast:ChangeEventFilter"/>
<xsd:simpleType name="EventGroup">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="GENERAL_EVENT"/>
<xsd:enumeration value="STAT_EVENT"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
