informatica_xsd_xml/com.informatica.metadata.common.genericannotation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.genericannotation/2" xmlns:core="http://com.informatica.metadata.common.core/2" xmlns:genericannotation="http://com.informatica.metadata.common.genericannotation/2" xmlns:imx="http://com.informatica.imx" xmlns:types="http://com.informatica.metadata.common.types/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.genericannotation/2">
<xsd:import namespace="http://com.informatica.metadata.common.core/2" schemaLocation="com.informatica.metadata.common.core.xsd"/>
<xsd:import namespace="http://com.informatica.metadata.common.types/2" schemaLocation="com.informatica.metadata.common.types.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="NameValuePair">
<xsd:complexContent>
<xsd:extension base="core:Element">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="value" type="types:Value"/>
</xsd:choice>
<xsd:attribute name="name">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="NameValuePair" type="genericannotation:NameValuePair"/>
<xsd:complexType name="GenericAnnotation">
<xsd:complexContent>
<xsd:extension base="core:Annotation">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="nameValuePairs">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="NameValuePair" type="genericannotation:NameValuePair"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute name="source">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="GenericAnnotation" type="genericannotation:GenericAnnotation"/>
</xsd:schema>
