informatica_xsd_xml/com.informatica.metadata.common.txhandlerconfig.generic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.txhandlerconfig.generic/2" xmlns:generic="http://com.informatica.metadata.common.txhandlerconfig.generic/2" xmlns:imx="http://com.informatica.imx" xmlns:transformation="http://com.informatica.metadata.common.transformation/3" xmlns:txhandlerconfig="http://com.informatica.metadata.common.txhandlerconfig/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.txhandlerconfig.generic/2">
<xsd:import namespace="http://com.informatica.metadata.common.txhandlerconfig/2" schemaLocation="com.informatica.metadata.common.txhandlerconfig.xsd"/>
<xsd:import namespace="http://com.informatica.metadata.common.transformation/3" schemaLocation="com.informatica.metadata.common.transformation.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="GenericTxHandlerConfig">
<xsd:complexContent>
<xsd:extension base="txhandlerconfig:TxHandlerConfig">
<xsd:attribute name="className">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="functionName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="language" type="transformation:LanguageKind"/>
<xsd:attribute name="moduleName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="outputDeterministic" type="xsd:boolean"/>
<xsd:attribute name="outputOrdering" type="transformation:OrderingKind"/>
<xsd:attribute name="partitioningType" type="transformation:PartitioningKind"/>
<xsd:attribute name="resetImplemented" type="xsd:boolean"/>
<xsd:attribute name="runtimeLocation">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="threadPerPartition" type="xsd:boolean"/>
<xsd:attribute name="updateStrategyImplemented" type="xsd:boolean"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="GenericTxHandlerConfig" type="generic:GenericTxHandlerConfig"/>
</xsd:schema>
