informatica_xsd_xml/com.informatica.isp.interfaces.common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.isp.interfaces.common/2" xmlns:common="http://com.informatica.isp.interfaces.common/2" xmlns:common1="http://com.informatica.isp.metadata.common/2" xmlns:imx="http://com.informatica.imx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.isp.interfaces.common/2">
<xsd:import namespace="http://com.informatica.isp.metadata.common/2" schemaLocation="com.informatica.isp.metadata.common.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:simpleType name="AccessAction">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="LIST"/>
<xsd:enumeration value="READ"/>
<xsd:enumeration value="WRITE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="AccessActionWrapper">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="accessAction" type="common:AccessAction"/>
</xsd:complexType>
<xsd:element name="AccessActionWrapper" type="common:AccessActionWrapper"/>
<xsd:simpleType name="ConflictResolution">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NONE"/>
<xsd:enumeration value="REUSE"/>
<xsd:enumeration value="RENAME"/>
<xsd:enumeration value="REPLACE"/>
<xsd:enumeration value="MERGE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="DomainConfigAccessObject">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="DOMAIN"/>
<xsd:enumeration value="FOLDER"/>
<xsd:enumeration value="GRID"/>
<xsd:enumeration value="INTERNAL"/>
<xsd:enumeration value="LICENSE"/>
<xsd:enumeration value="DOMAINNODE"/>
<xsd:enumeration value="SERVICE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="DomainConfigAccessObjectWrapper">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="domainConfigAccessObject" type="common:DomainConfigAccessObject"/>
</xsd:complexType>
<xsd:element name="DomainConfigAccessObjectWrapper" type="common:DomainConfigAccessObjectWrapper"/>
<xsd:simpleType name="DomainServiceAccessObject">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="DOMAINOPTION"/>
<xsd:enumeration value="LINKEDDOMAIN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ExportObjectParams">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="objectList">
<xsd:simpleType>
<xsd:list itemType="xsd:string"/>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="objectProperties" type="imx:idref"/>
</xsd:complexType>
<xsd:element name="ExportObjectParams" type="common:ExportObjectParams"/>
<xsd:complexType name="Message">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="key">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="text">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="Message" type="common:Message"/>
<xsd:complexType name="ObjectForImport">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="conflictResolution" type="common:ConflictResolution"/>
<xsd:attribute name="object" type="imx:idref"/>
<xsd:attribute name="renameIdToValue">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="renameToValue">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="ObjectForImport" type="common:ObjectForImport"/>
<xsd:complexType name="ObjectPropertyCollection">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="createdAfter" type="xsd:long"/>
<xsd:attribute name="createdBefore" type="xsd:long"/>
<xsd:attribute name="createdBy">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="lastModifiedBy">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="lastUpdatedAfter" type="xsd:long"/>
<xsd:attribute name="lastUpdatedBefore" type="xsd:long"/>
</xsd:complexType>
<xsd:element name="ObjectPropertyCollection" type="common:ObjectPropertyCollection"/>
<xsd:complexType name="OperationResponse">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="errorMessages" type="imx:idrefs"/>
<xsd:attribute name="isOverallSucessfull" type="xsd:boolean"/>
</xsd:complexType>
<xsd:element name="OperationResponse" type="common:OperationResponse"/>
<xsd:simpleType name="RequestType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ENABLE_SERVICE"/>
<xsd:enumeration value="DISABLE_SERVICE_WITH_COMPLETE_MODE"/>
<xsd:enumeration value="DISABLE_SERVICE_WITH_STOP_MODE"/>
<xsd:enumeration value="DISABLE_SERVICE_WITH_ABORT_MODE"/>
<xsd:enumeration value="NODE_SHUTDOWN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="UMAccessObject">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="USER"/>
<xsd:enumeration value="OSPROFILE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="UMAccessObjectWrapper">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="umAccessObject" type="common:UMAccessObject"/>
</xsd:complexType>
<xsd:element name="UMAccessObjectWrapper" type="common:UMAccessObjectWrapper"/>
<xsd:complexType name="ApplicationServiceRequestInfo">
<xsd:complexContent>
<xsd:extension base="common1:ISPObject">
<xsd:annotation>
<xsd:documentation> Model Change Log
 
 2.9.0 brikumar 06/3/2015 Added new field serviceType.
 This model is communication model which is used to send the request(enable or
 disable) for service(s) to statCollector.
 @author brikumar

</xsd:documentation>
</xsd:annotation>
<xsd:attribute name="comment">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="isPlanned" type="xsd:boolean"/>
<xsd:attribute name="requestID">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="requestType" type="common:RequestType"/>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceType">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ApplicationServiceRequestInfo" type="common:ApplicationServiceRequestInfo"/>
<xsd:complexType name="ApplicationServiceRequestResponseInfo">
<xsd:complexContent>
<xsd:extension base="common1:ISPObject">
<xsd:annotation>
<xsd:documentation> Model Change Log
 
 2.9.0 brikumar 06/3/2015 Added new field serviceType.

 This model will be used for sending Response for Application Service Request.
 @author brikumar

</xsd:documentation>
</xsd:annotation>
<xsd:attribute name="isSuccess" type="xsd:boolean"/>
<xsd:attribute name="requestId">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="requestType" type="common:RequestType"/>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="serviceType">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ApplicationServiceRequestResponseInfo" type="common:ApplicationServiceRequestResponseInfo"/>
<xsd:complexType name="ISPEncryptedString">
<xsd:complexContent>
<xsd:extension base="common1:ISPObject">
<xsd:attribute name="string">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ISPEncryptedString" type="common:ISPEncryptedString"/>
<xsd:complexType name="NodeRequestInfo">
<xsd:complexContent>
<xsd:extension base="common1:ISPObject">
<xsd:annotation>
<xsd:documentation> This model is communication model for broadcasting the node operation details to 
 listeners.
 @author brikumar

</xsd:documentation>
</xsd:annotation>
<xsd:attribute name="comment">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="isPlanned" type="xsd:boolean"/>
<xsd:attribute name="nodeName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="requestType" type="common:RequestType"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="NodeRequestInfo" type="common:NodeRequestInfo"/>
</xsd:schema>
