informatica_xsd_xml/com.informatica.metadata.common.sourcespec.sourceable.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.sourcespec.sourceable/2" xmlns:imx="http://com.informatica.imx" xmlns:sourceable="http://com.informatica.metadata.common.sourcespec.sourceable/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.sourcespec.sourceable/2">
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="Sourceable">
<xsd:attribute ref="imx:id"/>
<xsd:attribute name="sourceSpecType">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="Sourceable" type="sourceable:Sourceable"/>
</xsd:schema>
