informatica_xsd_xml/com.informatica.metadata.common.datasource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.datasource/2" xmlns:core="http://com.informatica.metadata.common.core/2" xmlns:datasource="http://com.informatica.metadata.common.datasource/2" xmlns:imx="http://com.informatica.imx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.datasource/2">
<xsd:import namespace="http://com.informatica.metadata.common.core/2" schemaLocation="com.informatica.metadata.common.core.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:complexType name="DataSource">
<xsd:complexContent>
<xsd:extension base="core:NamedElement">
<xsd:annotation>
<xsd:documentation> 
 @author Modeling Team

</xsd:documentation>
</xsd:annotation>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="DataSource" type="datasource:DataSource"/>
<xsd:complexType name="DataSourceObjectReference">
<xsd:complexContent>
<xsd:extension base="core:ObjectReference">
<xsd:attribute name="dataSource" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="DataSourceObjectReference" type="datasource:DataSourceObjectReference"/>
</xsd:schema>
