informatica_xsd_xml/com.informatica.ds.sql.metadata.common.vtmap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.ds.sql.metadata.common.vtmap/2" xmlns:imx="http://com.informatica.imx" xmlns:mapping="http://com.informatica.metadata.common.mapping/2" xmlns:transformation="http://com.informatica.metadata.common.transformation/3" xmlns:vtmap="http://com.informatica.ds.sql.metadata.common.vtmap/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.ds.sql.metadata.common.vtmap/2">
<xsd:import namespace="http://com.informatica.metadata.common.mapping/2" schemaLocation="com.informatica.metadata.common.mapping.xsd"/>
<xsd:import namespace="http://com.informatica.metadata.common.transformation/3" schemaLocation="com.informatica.metadata.common.transformation.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:simpleType name="MethodKind">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="read"/>
<xsd:enumeration value="dataDrivenWrite"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="VirtualTableMapCharacteristic">
<xsd:complexContent>
<xsd:extension base="mapping:Characteristic">
<xsd:attribute name="mappedVirtualTables" type="imx:idrefs"/>
<xsd:attribute name="method" type="vtmap:MethodKind"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="VirtualTableMapCharacteristic" type="vtmap:VirtualTableMapCharacteristic"/>
<xsd:complexType name="InputInterface">
<xsd:complexContent>
<xsd:extension base="transformation:TransformationDataInterface">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="inputFields">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="InputField" type="vtmap:InputField"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="InputInterface" type="vtmap:InputInterface"/>
<xsd:complexType name="OutputInterface">
<xsd:complexContent>
<xsd:extension base="transformation:TransformationDataInterface">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="outputFields">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="OutputField" type="vtmap:OutputField"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="OutputInterface" type="vtmap:OutputInterface"/>
<xsd:complexType abstract="true" name="VirtualTableTx">
<xsd:complexContent>
<xsd:extension base="transformation:AbstractTransformation">
<xsd:attribute name="mappedVirtualTable" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="InputTx">
<xsd:complexContent>
<xsd:extension base="vtmap:VirtualTableTx">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="inputInterface">
<xsd:complexType>
<xsd:choice maxOccurs="1" minOccurs="1">
<xsd:element name="InputInterface" type="vtmap:InputInterface"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="InputTx" type="vtmap:InputTx"/>
<xsd:complexType name="OutputTx">
<xsd:complexContent>
<xsd:extension base="vtmap:VirtualTableTx">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="outputInterface">
<xsd:complexType>
<xsd:choice maxOccurs="1" minOccurs="1">
<xsd:element name="OutputInterface" type="vtmap:OutputInterface"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="OutputTx" type="vtmap:OutputTx"/>
<xsd:complexType abstract="true" name="VirtualTableField">
<xsd:complexContent>
<xsd:extension base="transformation:TransformationField">
<xsd:attribute name="mappedColumn" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="InputField">
<xsd:complexContent>
<xsd:extension base="vtmap:VirtualTableField"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="InputField" type="vtmap:InputField"/>
<xsd:complexType name="OutputField">
<xsd:complexContent>
<xsd:extension base="vtmap:VirtualTableField"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="OutputField" type="vtmap:OutputField"/>
</xsd:schema>
