informatica_xsd_xml/com.informatica.isp.interfaces.monitoring.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.isp.interfaces.monitoring/1" xmlns:common="http://com.informatica.isp.metadata.common/2" xmlns:imx="http://com.informatica.imx" xmlns:monitoring="http://com.informatica.isp.interfaces.monitoring/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.isp.interfaces.monitoring/1">
<xsd:import namespace="http://com.informatica.isp.metadata.common/2" schemaLocation="com.informatica.isp.metadata.common.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:simpleType name="StatType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="DETAILED_SYSTEM_LEVEL_STAT"/>
<xsd:enumeration value="AGGREGATED_SYSTEM_LEVEL_STAT"/>
<xsd:enumeration value="DOAMIN_EVENT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="StatTypeWrapper">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="statType" type="monitoring:StatType"/>
</xsd:complexType>
<xsd:element name="StatTypeWrapper" type="monitoring:StatTypeWrapper"/>
<xsd:complexType name="AggregateStatInfo">
<xsd:complexContent>
<xsd:extension base="common:ISPObject">
<xsd:attribute name="aggregateTimestamp" type="xsd:long"/>
<xsd:attribute name="level" type="xsd:int"/>
<xsd:attribute name="serviceName">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="AggregateStatInfo" type="monitoring:AggregateStatInfo"/>
</xsd:schema>
