informatica_xsd_xml/com.informatica.metadata.common.optimizer.cbo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.optimizer.cbo/1" xmlns:cbo="http://com.informatica.metadata.common.optimizer.cbo/1" xmlns:imx="http://com.informatica.imx" xmlns:statistics="http://com.informatica.metadata.common.statistics/0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.optimizer.cbo/1">
<xsd:import namespace="http://com.informatica.metadata.common.statistics/0" schemaLocation="com.informatica.metadata.common.statistics.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:complexType name="CostCoefficientConfig">
<xsd:annotation>
<xsd:documentation> Container for Optimizer-specific information
</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="effectiveValue" type="xsd:double"/>
<xsd:attribute name="name">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="CostCoefficientConfig" type="cbo:CostCoefficientConfig"/>
<xsd:complexType name="CostCoefficients">
<xsd:complexContent>
<xsd:extension base="statistics:StatObject">
<xsd:annotation>
<xsd:documentation> Container for Optimizer-specific information for a DIS.
</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="costCoefficientConfigs">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="CostCoefficientConfig" type="cbo:CostCoefficientConfig"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute name="scope">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="CostCoefficients" type="cbo:CostCoefficients"/>
</xsd:schema>
