informatica_xsd_xml/com.informatica.platform.edtm.metadata.mapping.output.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.platform.edtm.metadata.mapping.output/1" xmlns:imx="http://com.informatica.imx" xmlns:output="http://com.informatica.metadata.common.mapping.execution.output/1" xmlns:output1="http://com.informatica.platform.edtm.metadata.mapping.output/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.platform.edtm.metadata.mapping.output/1">
<xsd:import namespace="http://com.informatica.metadata.common.mapping.execution.output/1" schemaLocation="com.informatica.metadata.common.mapping.execution.output.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:complexType name="MappingExecutionOutput">
<xsd:annotation>
<xsd:documentation> 
 @author kdhuria
 EDTM SDK model to capture mapping execution output

</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
<xsd:element name="executionOutputs">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="ExecutionOutput" type="output:ExecutionOutput"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
</xsd:complexType>
<xsd:element name="MappingExecutionOutput" type="output1:MappingExecutionOutput"/>
</xsd:schema>
