informatica_xsd_xml/com.informatica.metadata.common.txhandlerconfig.resourceaccess.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.txhandlerconfig.resourceaccess/2" xmlns:dsoconfig="http://com.informatica.metadata.common.dsoconfig/2" xmlns:imx="http://com.informatica.imx" xmlns:txhandlerconfig="http://com.informatica.metadata.common.txhandlerconfig/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.txhandlerconfig.resourceaccess/2">
<xsd:import namespace="http://com.informatica.metadata.common.txhandlerconfig/2" schemaLocation="com.informatica.metadata.common.txhandlerconfig.xsd"/>
<xsd:import namespace="http://com.informatica.metadata.common.dsoconfig/2" schemaLocation="com.informatica.metadata.common.dsoconfig.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType abstract="true" name="ResourceAccessTxHandlerConfig">
<xsd:complexContent>
<xsd:extension base="txhandlerconfig:TxHandlerConfig">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="dsoRuntimeConfig" type="dsoconfig:DSORuntimeConfig"/>
</xsd:choice>
<xsd:attribute name="selectedAdapter" type="imx:idref"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
