informatica_xsd_xml/com.informatica.ds.scheduled.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.ds.scheduled/0" xmlns:imx="http://com.informatica.imx" xmlns:scheduled="http://com.informatica.ds.scheduled/0" xmlns:task="http://com.informatica.metadata.common.core.task/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.ds.scheduled/0">
<xsd:import namespace="http://com.informatica.metadata.common.core.task/1" schemaLocation="com.informatica.metadata.common.core.task.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:complexType abstract="true" name="DeployedNS">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="namespace">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType abstract="true" name="ScheduledDISJob">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
<xsd:element name="deployedNS" type="scheduled:DeployedNS"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
</xsd:complexType>
<xsd:complexType abstract="true" name="DeployedTaskExecutionContext">
<xsd:complexContent>
<xsd:extension base="task:AbstractTaskExecutionContext">
<xsd:attribute name="servicename">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
