informatica_xsd_xml/com.informatica.metadata.common.transformation.readdataobject.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.transformation.readdataobject/2" xmlns:imx="http://com.informatica.imx" xmlns:readdataobject="http://com.informatica.metadata.common.transformation.readdataobject/2" xmlns:transformation="http://com.informatica.metadata.common.transformation/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.transformation.readdataobject/2">
<xsd:import namespace="http://com.informatica.metadata.common.transformation/3" schemaLocation="com.informatica.metadata.common.transformation.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation>\n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="ReadInterface">
<xsd:complexContent>
<xsd:extension base="transformation:TransformationDataInterface">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="readField">
<xsd:complexType>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="ReadField" type="readdataobject:ReadField"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ReadInterface" type="readdataobject:ReadInterface"/>
<xsd:complexType name="ReadTx">
<xsd:complexContent>
<xsd:extension base="transformation:AbstractTransformation">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="readInterface">
<xsd:complexType>
<xsd:choice maxOccurs="1" minOccurs="1">
<xsd:element name="ReadInterface" type="readdataobject:ReadInterface"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
</xsd:choice>
<xsd:attribute name="dataObject" type="imx:idref"/>
<xsd:attribute name="lookupCondition">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ReadTx" type="readdataobject:ReadTx"/>
<xsd:complexType name="ReadField">
<xsd:complexContent>
<xsd:extension base="transformation:TransformationField"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ReadField" type="readdataobject:ReadField"/>
</xsd:schema>
