informatica_xsd_xml/com.informatica.runtime.sequence.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.runtime.sequence/1" xmlns:core="http://com.informatica.metadata.common.core/2" xmlns:imx="http://com.informatica.imx" xmlns:sequence="http://com.informatica.runtime.sequence/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.runtime.sequence/1">
<xsd:import namespace="http://com.informatica.metadata.common.core/2" schemaLocation="com.informatica.metadata.common.core.xsd"/>
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:element name="IMX">
<xsd:annotation>
<xsd:documentation> Copyright (c) 2013 Informatica Corporation. All rights reserved. \n</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="SequenceBatch">
<xsd:annotation>
<xsd:documentation> SequenceBatch is a runtime model that represents a batch of sequence returned from Sequence Manager.  
 
</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
<xsd:attribute name="batchSize" type="xsd:long"/>
<xsd:attribute name="incrementBy" type="xsd:int"/>
<xsd:attribute name="startVal" type="xsd:long"/>
</xsd:complexType>
<xsd:element name="SequenceBatch" type="sequence:SequenceBatch"/>
<xsd:complexType name="SequenceURI">
<xsd:complexContent>
<xsd:extension base="core:NamedElement">
<xsd:attribute name="containerContext" type="imx:idref"/>
<xsd:attribute name="sequenceIdentifier">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="SequenceURI" type="sequence:SequenceURI"/>
</xsd:schema>
