informatica_xsd_xml/com.informatica.metadata.common.constraint.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.informatica.metadata.common.constraint/1" xmlns:constraint="http://com.informatica.metadata.common.constraint/1" xmlns:imx="http://com.informatica.imx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.informatica.metadata.common.constraint/1">
<xsd:import namespace="http://com.informatica.imx" schemaLocation="IMX.xsd"/>
<xsd:complexType abstract="true" name="SourceConstraint">
<xsd:annotation>
<xsd:documentation> A constraint on a source (physical data object, logical data object, virtual table) that the user
 specifies and guarantees is true for every row.
 @author rlan

</xsd:documentation>
</xsd:annotation>
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="imx:annotations"/>
</xsd:choice>
<xsd:attribute ref="imx:id"/>
<xsd:attribute ref="imx:idref"/>
<xsd:attribute ref="imx:iid"/>
</xsd:complexType>
<xsd:complexType name="ExpressionSourceConstraint">
<xsd:complexContent>
<xsd:extension base="constraint:SourceConstraint">
<xsd:attribute name="expression">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:whiteSpace value="preserve"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="ExpressionSourceConstraint" type="constraint:ExpressionSourceConstraint"/>
</xsd:schema>
